.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-h5 {
  color: #61dafb;
}

.Top-container, .Middle-container, .Bottom-container {
  width: 100%;
  display: flex;
}

.Middle-container {
  margin: 10vmin;
  font-size: 2.5vmin;
}
.Result-container {
  width: 100%;
  text-align: center;
  display: grid;
}
.Label-input-container {
  display: grid;
  width: 33.33%;
  text-align: center;
  font-size: 2.5vmin;
}

.Clear-button {
  height: 6.5vmin;
  width: 19vmin;
  background-color: #61dafb69;
  color: #fff;
  padding: 1vmin;
  text-align: center;
  font-size: 2.5vmin;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  margin: auto;
  margin-bottom: 0;
  top: 6vmin;
  position: relative;
}
