.Clear-button {
  height: 6vmin;
  width: 15vmin;
  background-color: #61dafb69;
  color: #fff;
  padding: 1vmin;
  text-align: center;
  font-size: 2.5vmin;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  margin: auto;
  margin-bottom: 0;
  top: 6vmin;
  position: relative;
}
